.header-menu.scroll {
	background-color: rgba(255, 255, 255, 1);
	color: #000;
	padding: 10px 0;
}

.mobile-menu-button {
	position: fixed;
	top: 20px;
	right: 20px;
	cursor: pointer;
	display: none;
	z-index: 50;
	width: 30px;
	height: 30px;
	background-image: url(../images/icon-close.svg);
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.header-menu.hidden ~ .mobile-menu-button {
	background-image: url(../images/icon-menu.svg);
}

@media (max-width: 767px) {
	.header-menu.hidden {
		transform: translate(0, -245px);
		height: 0;
		padding: 0;
	}

	.mobile-menu-button {
		display: block;
	}
}